# PANDAS_CROSSTABS
---

In [1]:
%cd ..

/media/vanboefer/DATA/projects/lc/pandas_glit

In [2]:
import pandas as pd
from pandas_crosstabs import FancyTable, Style, crosstab, aggregations, percentages

path = 'test_data/enrollment_data.pkl'
df = pd.read_pickle(path)
df['ACADEMIC_YEAR'] = df['ACADEMIC_YEAR'].astype(str)

## Fancy tables

In [13]:
FancyTable(df, max_rows=15)

### Available styles

In [7]:
Style().AVAILABLE_STYLES

['chaplin', 'dataframe-plus', 'kindofblue', 'minimal']

## Crosstab

In [9]:
query = "ENROLLMENT_TYPE in ['matching', 'draw'] & ORIGIN in ['NLD', 'EER']"
ct = crosstab(df.query(query), ['DEPARTMENT', 'ORIGIN'], ['ENROLLMENT_TYPE', 'STATUS'], totals=True, totals_col=True, totals_row=False)
FancyTable(ct, style='chaplin')

## Aggregations

In [10]:
ct = aggregations(ct, 1, aggs='mean', roundings=1)
FancyTable(ct, style='minimal')

## Percentages

In [12]:
ct = percentages(ct, axis=['grand'], labels_rel=['%'], level_name='VALUES')
FancyTable(ct, style='dataframe-plus')